* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navigation {
    width: 100%;
    height: 115px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
}

.header-content {
    width: 1188px;
    margin: 0 auto;
    min-width: 1188px;
    display: inline-block;
    background-color: rgba(0, 0, 0,.03);
    height: 25px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.menu-bar li:hover {
    color: red;
}

.logo-lazada img, input {
    width: 127px;
    height: 40px;
    border-style: none;
    vertical-align: middle;
    border: none;
}
 .header-content .menu-bar a {
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.logo-bar {
    height: 75px;
    width: 100%;
    background-color: aliceblue;
    padding-top: 11px;
}

.logo-bar .logo-lazada {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 39px;
}

.logo-lazada a {
    float: left;
}

.lazada-search-bar {
    width: 688px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border-radius: 3px;
}

.main-search-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}

.search-box-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

.search-box-2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    line-height: 1;
}

.search-box-2 .search-box-button {
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #f57224 url(https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-search-vector-icon-png-image_696422.jpg) 50% no-repeat;
    background-size: 22px;
    box-shadow: none;
    cursor: pointer;
}
 .search-box-1 .input1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    font-family: Roboto-Regular,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: #212121;
    border: none;
    outline: none;
    background: #eff0f5;
    box-shadow: none;
    border-radius: 2px;
 }

 .lazada-cart .cart-icon{
    position: absolute;
    background-image: url(//laz-img-cdn.alicdn.com/tfs/TB1xEeTdBGw3KVjSZFDXXXWEpXa-75-66.png);
    background-size: cover;
    width: 29px;
    height: 26px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -14px;
 }

 .lazada-cart .cart {
    position: absolute;
    background: #f36e36;
    color: #fff;
    top: -4px;
    font-weight: 400;
    right: -4px;
    text-align: center;
    border: 3px solid #f36e36;
    font-size: 13px;
    min-width: 14px;
    line-height: 14px;
    border-radius: 50%;
    display: none;
 }

 .lazada-cart {
    display: inline-block;
    height: 38px;
    width: 40px;
    position: relative;
    margin: 0 0 0 20px;
 }

 .top-banner {
    width: 188px;
    height: 45px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.top-banner a {
    display: inline;
}

.header-content .top-banner a img {
    width: 188px;
    height: 45px;
    display: block;
    margin-top: 37px;
    background-color: aqua;
}

